.statement{
	font-size: 36pt;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#conclusion-container{
	font-size: 36pt;
	margin-top: 32px;
}

.highlighted{
	background-color: #FFF59D;
}

.arrow-left{
	display: inline-block;
	position: relative;
	left: 24px;
	top: 4px;
	width: 0; 
	height: 0; 
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent; 
	border-right: 24px solid #1976D2;
}

.blue{
	background-color: #1976D2;
	color: white;
}

.red{
	background-color: #FF5722;
	color: white;
}

.green{
	background-color: #4CAF50;
	color: white;
}

.alert{
	display: none;
	margin: 1.5em;
}

.btn {
	margin-top: 0.5em;
}

body{
	background-color: #FAFAFA;
}

.btn-default{
	background-color: #1976D2;
}

#conclusion-container{
	display: none;
}